body{
    background-color: #a1b8c9;
}

form{
    color: #ffffff;
    padding: 50px;
}

.regis{
padding-top: 80px;
font-size: 20px;
}

.regis4{
    padding-top: 49px;
    font-size: 20px;
    }

.logobox2{
    background-color: #144f6d;
    padding: 60px;
}

.logobox2 img{
    width: 500px;
}

.minibox img{
    width: 500px;
    padding: 40px;
}

.minibox2{ 
 font-size: 30px;
 text-align: left;
padding-top: 90px;
padding-right: 290px;
color: #ffffff;
}

.botonbox{
    padding-top: 80px;
    padding-left: 850px;
}

.botonbox2{
    padding-top: 40px;
    padding-left: 265px;
    padding-bottom: 30px;  
   
}

.btn-primary{
    font-size: 20px;
}

.regis3{
    color: #ffffff;
    padding: 50px;
}

.textbox{
padding-right: 400px;
padding-top: 100px;
padding-bottom: 40px;
font-size: 30px;
color: #ffffff;
text-align: center;
}

.from-check{
    margin-top: 40px;
}

.megabox{
margin-top: 60px;
margin-left: 400px;
}

.opbox1 img{
width: 450px;
margin-left: 20px;
margin-right: 20px;
}

.opbox2 img{
width: 450px;
margin-left: 20px;
margin-right: 20px;
}

.opbox3 img{
width: 450px;
margin-left: 20px;
margin-right: 20px;

}

.endbox{
    background-color: #144f6d;
    padding: 100px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.opbox1{
    display:inline-block;
    position:relative;
    }
    
    .opbox1 a{
    position: absolute;
    bottom:4em;
    right: 200px;
    background-color:#144f6d;
    border-radius:1.5em;
    color:white;
    text-transform:uppercase;
    padding:1em 1.5em;
    text-decoration: none;
    }

 .opbox2{
    display:inline-block;
    position:relative;
    }
        
 .opbox2 a{
    position: absolute;
    bottom:4em;
    right: 200px;
    background-color:#144f6d;
    border-radius:1.5em;
    color:white;
    text-transform:uppercase;
    padding:1em 1.5em;
    text-decoration: none;
    } 

.opbox3{
     display:inline-block;
     position:relative;
    } 
            
 .opbox3 a{
    position: absolute;
    bottom:4em;
    right: 200px;
    background-color:#144f6d;
    border-radius:1.5em;
    color:white;
    text-transform:uppercase;
    padding:1em 1.5em;
    text-decoration: none;
    }         

.tablafin{
    margin: 50px;
    text-align: center;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}